/* TYPING ANIMATION */

.typing {
  font-style: italic;
  opacity: 0.7;
}

.dots span {
  animation: blink 1.4s infinite both;
}

.dots span:nth-child(2) {
  animation-delay: .2s;
}

.dots span:nth-child(3) {
  animation-delay: .4s;
}

@keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}
